@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* main {
    filter: blur(1px);
} */

/* @media (max-width: 640px) {
    .navLinks-container{
        position: absolute;
    }
} */

@media (min-width: 641px) {
    ul {
        box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
    }
}
